<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circles N Sounds</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <p class="title">Your Piano</p>
    <p class="description">Enjoy Playing Piano At home</p>
    <div class="piano_button">
    <a href="/piano_play" >Play    &#127925;  </a>
    <!-- ♫ ♪ -->
  </div>
  </div>
</body>
</html>